flows_raspberrypi.json
[{"id":"332c3cf0.542314","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9d239b4c.041f98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bec38eee.7585","type":"inject","z":"9d239b4c.041f98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"test\":\"this is my test value\",\"count\":0}","payloadType":"json","x":350,"y":200,"wires":[["7ba614fc.b2b95c"]]},{"id":"5f27aefa.302d5","type":"debug","z":"9d239b4c.041f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":360,"wires":[]},{"id":"5a969777.8af868","type":"function","z":"9d239b4c.041f98","name":"","func":"let myglobalVar = global.get(\"myglobalVar\");\nmyglobalVar.count++;\nmsg.payload = myglobalVar;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":360,"wires":[["5f27aefa.302d5"]]},{"id":"7ba614fc.b2b95c","type":"change","z":"9d239b4c.041f98","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myglobalVar","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[[]]},{"id":"795c3ab1.5ff734","type":"inject","z":"9d239b4c.041f98","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":330,"y":360,"wires":[["5a969777.8af868"]]}]