flows_raspberrypi.json
[{"id":"332c3cf0.542314","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9d239b4c.041f98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"157a893d.a4d277","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4036f74e.332a98","type":"group","z":"157a893d.a4d277","name":"Route a message based on one of its properties","style":{"fill":"#ffff7f","label":true},"nodes":["163f1e4c.d7af02","8b2656ac.f39f88","1b714b0d.b52935","84403028.aa8b1","df43d26.7c1f33","20b1d752.ea8b28","3ae665e.d38699a"],"x":74,"y":159,"w":612,"h":162},{"id":"8c345e21.e8de7","type":"group","z":"157a893d.a4d277","name":"Route a message based on a context value","style":{"label":true},"nodes":["25bd3293.f8ab1e","5268c62a.180578","b0a9458f.486c48","51971d67.5c47f4","c1ef7641.e0ccc8","dac0f695.96ea78","b251c553.4a3e78","53860a76.da9594","2fa94d9d.ce3b32","475a1277.a37cec"],"x":94,"y":379,"w":652,"h":342},{"id":"912ac31a.47f73","type":"group","z":"157a893d.a4d277","name":"Perform an operation on each element in an array","style":{"label":true},"nodes":["da9faeb3.7af46","b0cb1d8a.28686","d6d63979.2ea848","29dc04a0.584a9c","b0fb74a0.317268"],"x":74,"y":779,"w":672,"h":202},{"id":"b70aae94.5be1d","type":"group","z":"157a893d.a4d277","name":"Trigger a flow if a message isn’t received after a defined time","style":{"label":true},"nodes":["9dcc0e1e.41052","fc42a242.8db82","9fdf4d1.dcd2eb","e673d427.b37cf8"],"x":74,"y":1079,"w":572,"h":122},{"id":"1f8e0bfe.887c54","type":"group","z":"157a893d.a4d277","name":"Send placeholder messages when a stream stops sending","style":{"label":true},"nodes":["cb9462ca.64334","b323c1a4.80d23","5b53f848.6d7ab8","fbe45c27.2c3f7"],"x":54,"y":1239,"w":732,"h":122},{"id":"38a66a1c.067b36","type":"group","z":"157a893d.a4d277","name":"Slow down messages passing through a flow","style":{"label":true},"nodes":["31357f11.9623c","56789ebc.fe382","1f3f72f1.c6025d","45346419.a2257c"],"x":74,"y":1399,"w":622,"h":82},{"id":"4264e2b1.1fcd1c","type":"group","z":"157a893d.a4d277","name":"Handle messages at a regular rate","style":{"label":true},"nodes":["f6aca483.a65e78","51dd5905.f57ee8","b4eee427.89a528"],"x":54,"y":1499,"w":602,"h":82},{"id":"c282a155.c8a06","type":"group","z":"157a893d.a4d277","name":"Drop messages that have not changed value","style":{"label":true},"nodes":["28bb602d.1d936","e7fb2dae.7b75d","92ba96bc.62bea8","f84f731a.2595a"],"x":54,"y":1599,"w":632,"h":122},{"id":"a8597234.960f5","type":"group","z":"157a893d.a4d277","name":"Create a single message from separate streams of messages","style":{"label":true},"nodes":["f945cd77.6e34b","3b80c8cf.ce2a18","3d4d4e75.977042","9f599333.88d43","fe6a6cb8.ff573"],"x":54,"y":1739,"w":592,"h":162},{"id":"6e95e945.16f8d8","type":"group","z":"157a893d.a4d277","name":"Trigger a flow when a node throws an error","style":{"label":true},"nodes":["fc590545.a28fd8","5730b71c.2012a8","3c24db2f.5e54c4","a868b387.516bb"],"x":114,"y":1959,"w":412,"h":142},{"id":"dbdd85.2912b278","type":"group","z":"157a893d.a4d277","name":"Automatically retry an action after an error","style":{"label":true},"nodes":["55c2e51f.51330c","7d74914e.800f9","a6324f1d.622bc","e85e1ac.781efe8","9acbc58a.ac8a48","94d1237d.d63bc"],"x":34,"y":2139,"w":632,"h":202},{"id":"bcfb04ce.15d9e8","type":"group","z":"9d239b4c.041f98","name":"Setting Reading Global Vars","style":{"label":true},"nodes":["bec38eee.7585","5f27aefa.302d5","5a969777.8af868","7ba614fc.b2b95c","795c3ab1.5ff734"],"x":234,"y":159,"w":612,"h":142},{"id":"6cbf0e43.18afb","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.0.11","key":"5HblB300UTOm6VoNXBbLLTgnWKuC2QdqwbMbJ8vF","interval":"3000","disableupdates":false},{"id":"7c11ebff.80eda4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f11dd1fb.6164","type":"ui_group","z":"","name":"Default","tab":"7f520b2f.a02c04","order":1,"disp":true,"width":"6","collapse":false},{"id":"7f520b2f.a02c04","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"bec38eee.7585","type":"inject","z":"9d239b4c.041f98","g":"bcfb04ce.15d9e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"test\":\"this is my test value\",\"count\":0}","payloadType":"json","x":350,"y":200,"wires":[["7ba614fc.b2b95c"]]},{"id":"5f27aefa.302d5","type":"debug","z":"9d239b4c.041f98","g":"bcfb04ce.15d9e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":260,"wires":[]},{"id":"5a969777.8af868","type":"function","z":"9d239b4c.041f98","g":"bcfb04ce.15d9e8","name":"","func":"let myglobalVar = global.get(\"myglobalVar\");\nmyglobalVar.count++;\nmsg.payload = myglobalVar;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":260,"wires":[["5f27aefa.302d5"]]},{"id":"7ba614fc.b2b95c","type":"change","z":"9d239b4c.041f98","g":"bcfb04ce.15d9e8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myglobalVar","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[[]]},{"id":"795c3ab1.5ff734","type":"inject","z":"9d239b4c.041f98","g":"bcfb04ce.15d9e8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":330,"y":260,"wires":[["5a969777.8af868"]]},{"id":"d509f7b0.112578","type":"hue-light","z":"9d239b4c.041f98","name":"Office - Hue color lamp","bridge":"6cbf0e43.18afb","lightid":"3","colornamer":true,"skipevents":false,"universalevents":false,"x":700,"y":660,"wires":[[]]},{"id":"6e5f4fe6.e5a22","type":"inject","z":"9d239b4c.041f98","name":"ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":true}","payloadType":"json","x":270,"y":460,"wires":[["d509f7b0.112578"]]},{"id":"432def54.95f68","type":"inject","z":"9d239b4c.041f98","name":"OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":false}","payloadType":"json","x":270,"y":500,"wires":[["d509f7b0.112578"]]},{"id":"d1ca1e91.5d8ef","type":"inject","z":"9d239b4c.041f98","name":"Alert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"alert\":5}","payloadType":"json","x":250,"y":660,"wires":[["d509f7b0.112578"]]},{"id":"90133450.9511d8","type":"function","z":"9d239b4c.041f98","name":"Flash Light","func":"node.log(\"start\");\nfunction flip(){\n    node.log(\"Interval switch\");\n    msg.payload.on = !msg.payload.on;\n    node.send(msg);\n}\n\nnode.log(\"CallingTimeout\");\nsetInterval(flip, 2000);\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":760,"wires":[["d509f7b0.112578"]]},{"id":"729be914.17a7e8","type":"inject","z":"9d239b4c.041f98","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":true}","payloadType":"json","x":140,"y":740,"wires":[["90133450.9511d8"]]},{"id":"91829fe2.5f499","type":"comment","z":"9d239b4c.041f98","name":"Driving Hue Lights","info":"","x":550,"y":520,"wires":[]},{"id":"68dcfec5.04859","type":"http in","z":"9d239b4c.041f98","name":"","url":"/larryTest","method":"get","upload":false,"swaggerDoc":"","x":210,"y":920,"wires":[["34fab1c9.55f8ae","1afde19c.5969ce"]]},{"id":"e2dfa9f9.5f6898","type":"comment","z":"9d239b4c.041f98","name":"Trigger using this endpoint","info":"","x":310,"y":880,"wires":[]},{"id":"34fab1c9.55f8ae","type":"debug","z":"9d239b4c.041f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":1000,"wires":[]},{"id":"1afde19c.5969ce","type":"function","z":"9d239b4c.041f98","name":"Flash Light","func":"if(\"on\" in msg.payload){\n    // Need to convert to boolean\n    msg.payload.on = !(msg.payload.on == \"false\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":920,"wires":[["d509f7b0.112578","34fab1c9.55f8ae"]]},{"id":"163f1e4c.d7af02","type":"switch","z":"157a893d.a4d277","g":"4036f74e.332a98","name":"Route ","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"pressure","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":240,"wires":[["84403028.aa8b1"],["df43d26.7c1f33"],["20b1d752.ea8b28"]]},{"id":"8b2656ac.f39f88","type":"inject","z":"157a893d.a4d277","g":"4036f74e.332a98","name":"","props":[{"p":"payload","v":"27","vt":"num"},{"p":"topic","v":"temperature","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"27","payloadType":"num","x":200,"y":200,"wires":[["163f1e4c.d7af02"]]},{"id":"1b714b0d.b52935","type":"inject","z":"157a893d.a4d277","g":"4036f74e.332a98","name":"","props":[{"p":"payload","v":"45","vt":"num"},{"p":"topic","v":"humidity","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"humidity","payload":"45","payloadType":"num","x":190,"y":240,"wires":[["163f1e4c.d7af02"]]},{"id":"84403028.aa8b1","type":"debug","z":"157a893d.a4d277","g":"4036f74e.332a98","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":200,"wires":[]},{"id":"df43d26.7c1f33","type":"debug","z":"157a893d.a4d277","g":"4036f74e.332a98","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":240,"wires":[]},{"id":"20b1d752.ea8b28","type":"debug","z":"157a893d.a4d277","g":"4036f74e.332a98","name":"Pressure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":280,"wires":[]},{"id":"3ae665e.d38699a","type":"inject","z":"157a893d.a4d277","g":"4036f74e.332a98","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pressure","payload":"1001","payloadType":"num","x":190,"y":280,"wires":[["163f1e4c.d7af02"]]},{"id":"25bd3293.f8ab1e","type":"inject","z":"157a893d.a4d277","g":"8c345e21.e8de7","name":"Inject","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":480,"wires":[["5268c62a.180578"]]},{"id":"5268c62a.180578","type":"switch","z":"157a893d.a4d277","g":"8c345e21.e8de7","name":"Context based routing","property":"state","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":400,"y":480,"wires":[["b0a9458f.486c48"],["51971d67.5c47f4"],["c1ef7641.e0ccc8"]]},{"id":"b0a9458f.486c48","type":"debug","z":"157a893d.a4d277","g":"8c345e21.e8de7","name":"Output 1","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":640,"y":420,"wires":[]},{"id":"51971d67.5c47f4","type":"debug","z":"157a893d.a4d277","g":"8c345e21.e8de7","name":"Output 2","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":640,"y":480,"wires":[]},{"id":"c1ef7641.e0ccc8","type":"debug","z":"157a893d.a4d277","g":"8c345e21.e8de7","name":"Output 3","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":640,"y":540,"wires":[]},{"id":"dac0f695.96ea78","type":"inject","z":"157a893d.a4d277","g":"8c345e21.e8de7","name":"Set state 0","props":[{"p":"payload","v":"0","vt":"num"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":200,"y":560,"wires":[["475a1277.a37cec"]]},{"id":"b251c553.4a3e78","type":"inject","z":"157a893d.a4d277","g":"8c345e21.e8de7","name":"Set state 1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":200,"y":600,"wires":[["475a1277.a37cec"]]},{"id":"53860a76.da9594","type":"inject","z":"157a893d.a4d277","g":"8c345e21.e8de7","name":"Set state 2","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":200,"y":640,"wires":[["475a1277.a37cec"]]},{"id":"2fa94d9d.ce3b32","type":"inject","z":"157a893d.a4d277","g":"8c345e21.e8de7","name":"Set state 3","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":200,"y":680,"wires":[["475a1277.a37cec"]]},{"id":"475a1277.a37cec","type":"change","z":"157a893d.a4d277","g":"8c345e21.e8de7","name":"Set flow.state","rules":[{"t":"set","p":"state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":600,"wires":[[]]},{"id":"da9faeb3.7af46","type":"inject","z":"157a893d.a4d277","g":"912ac31a.47f73","name":"Array of decimals","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1.67,2.98,3.12,4.99,5.50]","payloadType":"json","x":200,"y":820,"wires":[["b0cb1d8a.28686"]]},{"id":"b0cb1d8a.28686","type":"split","z":"157a893d.a4d277","g":"912ac31a.47f73","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":280,"y":880,"wires":[["d6d63979.2ea848"]]},{"id":"d6d63979.2ea848","type":"range","z":"157a893d.a4d277","g":"912ac31a.47f73","minin":"0","maxin":"10","minout":"0","maxout":"10","action":"scale","round":true,"property":"payload","name":"Round value","x":430,"y":880,"wires":[["29dc04a0.584a9c"]]},{"id":"29dc04a0.584a9c","type":"join","z":"157a893d.a4d277","g":"912ac31a.47f73","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":880,"wires":[["b0fb74a0.317268"]]},{"id":"b0fb74a0.317268","type":"debug","z":"157a893d.a4d277","g":"912ac31a.47f73","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":940,"wires":[]},{"id":"c2193bd7.f9ae78","type":"comment","z":"157a893d.a4d277","name":"Cookbook Examples","info":"https://cookbook.nodered.org/","x":440,"y":80,"wires":[]},{"id":"9dcc0e1e.41052","type":"debug","z":"157a893d.a4d277","g":"b70aae94.5be1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1120,"wires":[]},{"id":"fc42a242.8db82","type":"inject","z":"157a893d.a4d277","g":"b70aae94.5be1d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1120,"wires":[["9fdf4d1.dcd2eb","9dcc0e1e.41052"]]},{"id":"9fdf4d1.dcd2eb","type":"trigger","z":"157a893d.a4d277","g":"b70aae94.5be1d","name":"Watchdog","op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":350,"y":1160,"wires":[["e673d427.b37cf8"]]},{"id":"e673d427.b37cf8","type":"debug","z":"157a893d.a4d277","g":"b70aae94.5be1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":1160,"wires":[]},{"id":"cb9462ca.64334","type":"inject","z":"157a893d.a4d277","g":"1f8e0bfe.887c54","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1280,"wires":[["b323c1a4.80d23","5b53f848.6d7ab8"]]},{"id":"b323c1a4.80d23","type":"debug","z":"157a893d.a4d277","g":"1f8e0bfe.887c54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":1280,"wires":[]},{"id":"5b53f848.6d7ab8","type":"trigger","z":"157a893d.a4d277","g":"1f8e0bfe.887c54","name":"","op1":"reset","op2":"true","op1type":"str","op2type":"bool","duration":"2","extend":true,"units":"s","reset":"","bytopic":"all","outputs":1,"x":320,"y":1320,"wires":[["fbe45c27.2c3f7"]]},{"id":"fbe45c27.2c3f7","type":"trigger","z":"157a893d.a4d277","g":"1f8e0bfe.887c54","name":"","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"-2","extend":false,"units":"s","reset":"reset","bytopic":"all","outputs":1,"x":480,"y":1320,"wires":[["b323c1a4.80d23"]]},{"id":"31357f11.9623c","type":"inject","z":"157a893d.a4d277","g":"38a66a1c.067b36","name":"Inject Array","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,2,3,4,5,6,7,8,9]","payloadType":"json","x":180,"y":1440,"wires":[["56789ebc.fe382"]]},{"id":"56789ebc.fe382","type":"split","z":"157a893d.a4d277","g":"38a66a1c.067b36","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":320,"y":1440,"wires":[["1f3f72f1.c6025d"]]},{"id":"1f3f72f1.c6025d","type":"delay","z":"157a893d.a4d277","g":"38a66a1c.067b36","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":1440,"wires":[["45346419.a2257c"]]},{"id":"45346419.a2257c","type":"debug","z":"157a893d.a4d277","g":"38a66a1c.067b36","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":1440,"wires":[]},{"id":"f6aca483.a65e78","type":"inject","z":"157a893d.a4d277","g":"4264e2b1.1fcd1c","name":"Inject Array","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,2,3,4,5,6,7,8,9]","payloadType":"json","x":160,"y":1540,"wires":[["51dd5905.f57ee8"]]},{"id":"51dd5905.f57ee8","type":"delay","z":"157a893d.a4d277","g":"4264e2b1.1fcd1c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":370,"y":1540,"wires":[["b4eee427.89a528"]]},{"id":"b4eee427.89a528","type":"debug","z":"157a893d.a4d277","g":"4264e2b1.1fcd1c","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":1540,"wires":[]},{"id":"28bb602d.1d936","type":"inject","z":"157a893d.a4d277","g":"c282a155.c8a06","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":150,"y":1640,"wires":[["e7fb2dae.7b75d"]]},{"id":"e7fb2dae.7b75d","type":"rbe","z":"157a893d.a4d277","g":"c282a155.c8a06","name":"report-by-exception","func":"deadband","gap":"","start":"","inout":"out","property":"payload","x":360,"y":1660,"wires":[["92ba96bc.62bea8"]]},{"id":"92ba96bc.62bea8","type":"debug","z":"157a893d.a4d277","g":"c282a155.c8a06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":1660,"wires":[]},{"id":"f84f731a.2595a","type":"inject","z":"157a893d.a4d277","g":"c282a155.c8a06","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":150,"y":1680,"wires":[["e7fb2dae.7b75d"]]},{"id":"f945cd77.6e34b","type":"inject","z":"157a893d.a4d277","g":"a8597234.960f5","name":"temperature","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"10","payloadType":"num","x":170,"y":1780,"wires":[["3b80c8cf.ce2a18"]]},{"id":"3b80c8cf.ce2a18","type":"join","z":"157a893d.a4d277","g":"a8597234.960f5","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":1820,"wires":[["3d4d4e75.977042"]]},{"id":"3d4d4e75.977042","type":"debug","z":"157a893d.a4d277","g":"a8597234.960f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":1820,"wires":[]},{"id":"9f599333.88d43","type":"inject","z":"157a893d.a4d277","g":"a8597234.960f5","name":"humidity","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"humidity","payload":"","payloadType":"num","x":160,"y":1820,"wires":[["3b80c8cf.ce2a18"]]},{"id":"fe6a6cb8.ff573","type":"inject","z":"157a893d.a4d277","g":"a8597234.960f5","name":"pressure","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pressure","payload":"999","payloadType":"num","x":160,"y":1860,"wires":[["3b80c8cf.ce2a18"]]},{"id":"fc590545.a28fd8","type":"catch","z":"157a893d.a4d277","g":"6e95e945.16f8d8","name":"","scope":["5730b71c.2012a8"],"uncaught":false,"x":250,"y":2060,"wires":[["3c24db2f.5e54c4"]]},{"id":"5730b71c.2012a8","type":"function","z":"157a893d.a4d277","g":"6e95e945.16f8d8","name":"Throw Error","func":"node.error(\"an example error\", msg);   ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":2000,"wires":[[]]},{"id":"3c24db2f.5e54c4","type":"debug","z":"157a893d.a4d277","g":"6e95e945.16f8d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","x":420,"y":2060,"wires":[]},{"id":"a868b387.516bb","type":"inject","z":"157a893d.a4d277","g":"6e95e945.16f8d8","name":"Trigger error","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":2000,"wires":[["5730b71c.2012a8"]]},{"id":"55c2e51f.51330c","type":"inject","z":"157a893d.a4d277","g":"dbdd85.2912b278","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":2180,"wires":[["7d74914e.800f9"]]},{"id":"7d74914e.800f9","type":"function","z":"157a893d.a4d277","g":"dbdd85.2912b278","name":"Random error","func":"// Randomly throw an error rather than\n// pass on message.\nif (Math.random() < 0.5) {\n   node.error(\"a random error\", msg);\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":2180,"wires":[["a6324f1d.622bc"]]},{"id":"a6324f1d.622bc","type":"debug","z":"157a893d.a4d277","g":"dbdd85.2912b278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":2180,"wires":[]},{"id":"e85e1ac.781efe8","type":"delay","z":"157a893d.a4d277","g":"dbdd85.2912b278","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":2240,"wires":[["7d74914e.800f9"]]},{"id":"9acbc58a.ac8a48","type":"catch","z":"157a893d.a4d277","g":"dbdd85.2912b278","name":"","scope":["7d74914e.800f9"],"uncaught":false,"x":130,"y":2240,"wires":[["e85e1ac.781efe8","94d1237d.d63bc"]]},{"id":"94d1237d.d63bc","type":"debug","z":"157a893d.a4d277","g":"dbdd85.2912b278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","x":280,"y":2300,"wires":[]},{"id":"d07b2f8f.a0563","type":"ui_button","z":"9d239b4c.041f98","name":"ON","group":"f11dd1fb.6164","order":0,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"standby","payload":"{\"on\":true}","payloadType":"json","topic":"test","x":230,"y":560,"wires":[["d509f7b0.112578"]]},{"id":"f8e028c3.48acf8","type":"ui_button","z":"9d239b4c.041f98","name":"","group":"f11dd1fb.6164","order":1,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"standby","payload":"{\"on\":false}","payloadType":"json","topic":"","x":230,"y":600,"wires":[["d509f7b0.112578"]]}]