flows_raspberrypi.json
[{"id":"332c3cf0.542314","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9d239b4c.041f98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6cbf0e43.18afb","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.0.11","key":"5HblB300UTOm6VoNXBbLLTgnWKuC2QdqwbMbJ8vF","interval":"3000","disableupdates":false},{"id":"bec38eee.7585","type":"inject","z":"9d239b4c.041f98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"test\":\"this is my test value\",\"count\":0}","payloadType":"json","x":350,"y":200,"wires":[["7ba614fc.b2b95c"]]},{"id":"5f27aefa.302d5","type":"debug","z":"9d239b4c.041f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":260,"wires":[]},{"id":"5a969777.8af868","type":"function","z":"9d239b4c.041f98","name":"","func":"let myglobalVar = global.get(\"myglobalVar\");\nmyglobalVar.count++;\nmsg.payload = myglobalVar;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":260,"wires":[["5f27aefa.302d5"]]},{"id":"7ba614fc.b2b95c","type":"change","z":"9d239b4c.041f98","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myglobalVar","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[[]]},{"id":"795c3ab1.5ff734","type":"inject","z":"9d239b4c.041f98","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":330,"y":260,"wires":[["5a969777.8af868"]]},{"id":"d509f7b0.112578","type":"hue-light","z":"9d239b4c.041f98","name":"Office - Hue color lamp","bridge":"6cbf0e43.18afb","lightid":"3","colornamer":true,"skipevents":false,"universalevents":false,"x":700,"y":660,"wires":[[]]},{"id":"6e5f4fe6.e5a22","type":"inject","z":"9d239b4c.041f98","name":"ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":true}","payloadType":"json","x":250,"y":560,"wires":[["d509f7b0.112578"]]},{"id":"432def54.95f68","type":"inject","z":"9d239b4c.041f98","name":"OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":false}","payloadType":"json","x":250,"y":600,"wires":[["d509f7b0.112578"]]},{"id":"d1ca1e91.5d8ef","type":"inject","z":"9d239b4c.041f98","name":"Alert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"alert\":5}","payloadType":"json","x":250,"y":660,"wires":[["d509f7b0.112578"]]},{"id":"90133450.9511d8","type":"function","z":"9d239b4c.041f98","name":"Flash Light","func":"node.log(\"start\");\nfunction flip(){\n    node.log(\"Interval switch\");\n    msg.payload.on = !msg.payload.on;\n    node.send(msg);\n}\n\nnode.log(\"CallingTimeout\");\nsetInterval(flip, 2000);\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":760,"wires":[["d509f7b0.112578"]]},{"id":"729be914.17a7e8","type":"inject","z":"9d239b4c.041f98","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":true}","payloadType":"json","x":240,"y":760,"wires":[["90133450.9511d8"]]},{"id":"a818ec86.b6b2f","type":"comment","z":"9d239b4c.041f98","name":"Setting Reading Global Vars","info":"","x":560,"y":160,"wires":[]},{"id":"91829fe2.5f499","type":"comment","z":"9d239b4c.041f98","name":"Driving Hue Lights","info":"","x":550,"y":520,"wires":[]},{"id":"68dcfec5.04859","type":"http in","z":"9d239b4c.041f98","name":"","url":"/larryTest","method":"get","upload":false,"swaggerDoc":"","x":210,"y":920,"wires":[["34fab1c9.55f8ae","1afde19c.5969ce"]]},{"id":"e2dfa9f9.5f6898","type":"comment","z":"9d239b4c.041f98","name":"Trigger using this endpoint","info":"","x":310,"y":880,"wires":[]},{"id":"34fab1c9.55f8ae","type":"debug","z":"9d239b4c.041f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":1000,"wires":[]},{"id":"1afde19c.5969ce","type":"function","z":"9d239b4c.041f98","name":"Flash Light","func":"if(\"on\" in msg.payload){\n    // Need to convert to boolean\n    msg.payload.on = !(msg.payload.on == \"false\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":920,"wires":[["d509f7b0.112578","34fab1c9.55f8ae"]]}]